input,
label {
  padding: 3px 10px;
}


.CreateCardForm__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#divModal {
  margin: 0 auto;
  width: 400px;
  height: 100px;
  background: rgb(24, 24, 24);
  color: #fff;
  border-radius: 20px;
  text-align: center;
  line-height: 100px;
}