.CardItem {
  border-radius: 20px;
  padding: 10px 30px;
  width: 200px;
  background-color:rgb(24, 24, 24);
  box-shadow: 5px 5px 10px 0px #000000;
  
}

img {
  width: 200px;
  border-radius: 20px;
}
.title__cardList{
 margin: 20px 5px;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: rgb(255, 255, 255);
  
}
p{
  color: white;
  
}
ul {
  justify-content: center;
  display: inline;
  list-style: none;
  
}
.li__cardList{
  width: 200px;
  border-radius: 10px 0 0 10px;
  padding: 10px;
  background-color: white;
  margin: 10px;
  
}
.p__cardList{
  font-size: 20px;
}
