*{
  padding: 0;
  margin: 0;
  
}
.App {
  background-color: black;
}
.App--navbar {
    background-color: rgb(24, 24, 24);
    padding: 0 60px;
    height: 60px;
    
  }
  
  .App--navbar ul {
    display: flex;
    justify-content: flex-end;
    line-height: 60px;
    list-style: none;
    gap: 15px;
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  .App--navbar ul li {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .App--navbar a {
    text-decoration: none;
    color: white;
  }