*{
  padding: 0;
  margin: 0;
  
}
.App {
  

  &__navbar {
    background-color: rgb(24, 24, 24);
    padding: 0 60px;
    height: 60px;
    
  }
  
  &__ul {
    display: flex;
    justify-content: flex-end;
    line-height: 60px;
    list-style: none;
    gap: 15px;
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  &__li {
    cursor: pointer;
    display: flex;
    align-items: center;
    
  }
  
  &__link{
    font-size: 18px;
    text-decoration: none;
    color: white;
    
    
  }

  &__link:hover{
    transition: 0.3s;
    color: #ee4e00;
  }
}